compartment_id     = "ocid1.compartment.oc1..xxxx"
shop_domain        = "shop.<DNS_DOMAIN>"
crm_domain         = "crm.<DNS_DOMAIN>"
ops_domain         = "ops.<DNS_DOMAIN>"
coordinator_domain = "coordinator.<DNS_DOMAIN>"
waf_mode           = "DETECTION"
waf_log_group_id   = "ocid1.loggroup.oc1..xxxx"
admin_allow_cidrs  = []
la_namespace       = "your-la-namespace"
la_log_group_id    = "ocid1.loganalyticsloggroup.oc1..xxxx"
